html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #11519a;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  max-width: 100%;
  width: auto; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, sans-serif;
  font-size: 1.333em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #104c90; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

/* -------------------------------- 

Main Page Content

-------------------------------- */
.cd-main-content .content-wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 45px 5% 3em; }
  .cd-main-content .content-wrapper::after {
    clear: both;
    content: "";
    display: table; }
.cd-main-content::before {
  /* never visible - used to check MQ in jQuery */
  display: none;
  content: 'mobile'; }
@media only screen and (min-width: 768px) {
  .cd-main-content .content-wrapper {
    margin-left: 110px;
    padding-top: 55px; }
  .cd-main-content::before {
    content: 'tablet'; } }
@media only screen and (min-width: 1170px) {
  .cd-main-content .content-wrapper {
    margin-left: 200px; }
  .cd-main-content::before {
    content: 'desktop'; } }

.half-module {
  background: rgba(0, 0, 0, 0.1);
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
  margin-top: 3rem; }
  .half-module:last-child {
    margin-right: 0; }
  @media only screen and (min-width: 768px) {
    .half-module {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%; }
      .half-module:last-child {
        margin-right: 0; } }
  @media only screen and (min-width: 1170px) {
    .half-module {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%; }
      .half-module:last-child {
        margin-right: 0; } }

.full-module {
  background: rgba(0, 0, 0, 0.1);
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
  margin-top: 3rem; }
  .full-module:last-child {
    margin-right: 0; }
  @media only screen and (min-width: 768px) {
    .full-module {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .full-module:last-child {
        margin-right: 0; } }
  @media only screen and (min-width: 1170px) {
    .full-module {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .full-module:last-child {
        margin-right: 0; } }

.cal-module {
  padding: 1rem; }
  .cal-module h1 {
    font-size: 2.5em;
    line-height: 0.96;
    padding: 0; }
  .cal-module ul.cal-list {
    max-width: 100%; }
    .cal-module ul.cal-list .cal-item {
      background: white;
      padding: .4rem;
      margin-top: 2rem;
      margin-bottom: 1.5rem; }
      .cal-module ul.cal-list .cal-item span.cal-time {
        width: 100%;
        font-size: 1.3em;
        float: left;
        font-weight: bold;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        padding: .2rem 0;
        margin: 0; }
      .cal-module ul.cal-list .cal-item span.cal-event-title {
        width: 100%;
        font-size: 1.5em;
        font-weight: bold;
        margin: 0 0;
        padding: .5rem 0 .5rem; }
      .cal-module ul.cal-list .cal-item ul.cal-detail {
        width: 100%;
        font-size: 0.8em;
        padding: 0 1rem 1rem;
        margin: 0 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2); }
        .cal-module ul.cal-list .cal-item ul.cal-detail li {
          padding: 0 .4rem; }
          .cal-module ul.cal-list .cal-item ul.cal-detail li span.cal-detail-label {
            font-weight: bold;
            border-right: 2px solid rgba(0, 0, 0, 0.3);
            margin: 0 .5rem 0 0;
            padding: 0 .5rem 0 0; }

article.type-system-traditional {
  font-family: Helvetica, sans-serif;
  text-align: left;
  padding: 2rem; }
  article.type-system-traditional::after {
    clear: both;
    content: "";
    display: table; }
  article.type-system-traditional h1, article.type-system-traditional h2, article.type-system-traditional h3, article.type-system-traditional p {
    margin: 0; }
  article.type-system-traditional hr {
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 1.5em 0; }
  article.type-system-traditional p {
    color: #333;
    line-height: 1.5; }
  article.type-system-traditional a {
    color: #1565c0;
    text-decoration: none; }
  article.type-system-traditional .type {
    border-bottom: 2px solid;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-size: .7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: .1em 0;
    text-align: left;
    text-transform: uppercase; }
  article.type-system-traditional h1 {
    font-family: Georgia, serif;
    font-size: 1.9em;
    font-weight: 700;
    margin-bottom: 0.3em; }
    @media screen and (min-width: 600px) {
      article.type-system-traditional h1 {
        font-size: 2.6em; } }
  article.type-system-traditional h2 {
    font-family: Georgia, serif;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.25em;
    margin-bottom: .9em; }
    @media screen and (min-width: 600px) {
      article.type-system-traditional h2 {
        font-size: 1.5em; } }
  article.type-system-traditional code {
    background: #F7F7F7;
    border-radius: 4.5px;
    border: 1px solid #E0E0E0;
    font-size: 0.75em;
    font-style: normal;
    padding: 0.1em 0.4em;
    white-space: nowrap; }
  article.type-system-traditional h2 code {
    font-size: 0.65em; }
  article.type-system-traditional h3 {
    font-family: Georgia, serif;
    font-size: 1.4em;
    font-style: italic;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 0.4em; }
  article.type-system-traditional p.date {
    color: rgba(51, 51, 51, 0.4);
    font-family: Georgia, serif;
    font-style: italic;
    margin-bottom: .3em; }
  article.type-system-traditional p {
    font-family: Helvetica, sans-serif;
    letter-spacing: 1;
    line-height: 1.55em;
    margin-bottom: 1.5em; }
    article.type-system-traditional p span {
      font-family: Georgia, serif;
      font-size: 1.2em;
      font-style: italic; }
  article.type-system-traditional a.read-more {
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase; }
    article.type-system-traditional a.read-more span {
      font-family: Helvetica, sans-serif;
      font-size: 1.5em;
      font-style: normal;
      position: absolute;
      right: -12px;
      top: -1px; }
  article.type-system-traditional hr {
    width: 3em; }
  article.type-system-traditional p.author {
    font-family: Georgia, serif;
    font-size: 1.2em;
    font-style: italic; }

.acc-module {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
  padding: 1rem; }
  .acc-module:last-child {
    margin-right: 0; }
  .acc-module .acc-profile-header .acc-image {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%; }
    .acc-module .acc-profile-header .acc-image:last-child {
      margin-right: 0; }
    .acc-module .acc-profile-header .acc-image img {
      width: 100%;
      max-height: 300px; }
  .acc-module .acc-profile-header .acc-info {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%; }
    .acc-module .acc-profile-header .acc-info:last-child {
      margin-right: 0; }
  .acc-module .acc-resume {
    display: inline-block; }
    .acc-module .acc-resume a {
      color: #1565c0;
      text-decoration: none; }
    @media screen and (min-width: 900px) {
      .acc-module .acc-resume aside {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%; }
        .acc-module .acc-resume aside:last-child {
          margin-right: 0; } }
    .acc-module .acc-resume .scroll-on-page-link {
      border-bottom: 1px solid rgba(21, 101, 192, 0.2);
      display: block;
      margin-right: 1.5em;
      outline: none;
      padding: 0.75em 0; }
      .acc-module .acc-resume .scroll-on-page-link:last-child {
        margin-bottom: 1.5em; }
    .acc-module .acc-resume article h4 {
      margin: 0 0 0.5em 0; }
    .acc-module .acc-resume article p {
      color: #333;
      line-height: 1.5; }
    .acc-module .acc-resume article section p:last-of-type {
      margin-bottom: 2em; }
    @media screen and (min-width: 900px) {
      .acc-module .acc-resume article {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 65.8807828007%; }
        .acc-module .acc-resume article:last-child {
          margin-right: 0; } }
  .acc-module .acc-vertical-tabs {
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-bottom: 1.5em;
    overflow: hidden; }
    .acc-module .acc-vertical-tabs::after {
      clear: both;
      content: "";
      display: table; }
    .acc-module .acc-vertical-tabs li {
      list-style: none; }
    .acc-module .acc-vertical-tabs a {
      color: #1565c0;
      text-decoration: none; }
    .acc-module .acc-vertical-tabs .vertical-tabs {
      display: none; }
      @media screen and (min-width: 600px) {
        .acc-module .acc-vertical-tabs .vertical-tabs {
          background-color: #fff;
          display: inline;
          float: left;
          height: 18.75em;
          width: 20%; } }
    @media screen and (min-width: 600px) {
      .acc-module .acc-vertical-tabs .vertical-tab {
        border-bottom: 1px solid #ddd;
        display: block;
        font-weight: bold;
        margin-right: -1px;
        padding: 0.75em 0.809em; }
        .acc-module .acc-vertical-tabs .vertical-tab.is-active {
          background-color: #f7f7f7;
          margin-right: -1px; } }
    .acc-module .acc-vertical-tabs a.vertical-tab-accordion-heading,
    .acc-module .acc-vertical-tabs a.vertical-tab {
      color: #333; }
    .acc-module .acc-vertical-tabs .vertical-tab:focus {
      outline: none; }
    .acc-module .acc-vertical-tabs .vertical-tab-content-container {
      display: block;
      margin: 0 auto; }
      .acc-module .acc-vertical-tabs .vertical-tab-content-container a:focus {
        outline: none; }
      @media screen and (min-width: 600px) {
        .acc-module .acc-vertical-tabs .vertical-tab-content-container {
          height: 18.75em;
          width: 80%;
          background-color: #f7f7f7;
          display: inline-block; } }
    .acc-module .acc-vertical-tabs .vertical-tab-content {
      background-color: #f7f7f7;
      padding: 1.5em 1.618em; }
      .acc-module .acc-vertical-tabs .vertical-tab-content p {
        color: #333;
        line-height: 1.5; }
      @media screen and (min-width: 600px) {
        .acc-module .acc-vertical-tabs .vertical-tab-content {
          border: none;
          display: none; } }
    .acc-module .acc-vertical-tabs .vertical-tab-accordion-heading {
      background-color: #fff;
      border-top: 1px solid #ddd;
      cursor: pointer;
      display: block;
      font-weight: bold;
      padding: 0.75em 0.809em; }
      .acc-module .acc-vertical-tabs .vertical-tab-accordion-heading:focus, .acc-module .acc-vertical-tabs .vertical-tab-accordion-heading:hover {
        color: #1565c0; }
      .acc-module .acc-vertical-tabs .vertical-tab-accordion-heading:first-child {
        border-top: none; }
      .acc-module .acc-vertical-tabs .vertical-tab-accordion-heading.is-active {
        background: #f7f7f7;
        border-bottom: none; }
      @media screen and (min-width: 600px) {
        .acc-module .acc-vertical-tabs .vertical-tab-accordion-heading {
          display: none; } }
  .acc-module .acc-contact {
    margin: 0;
    padding: 0; }
    .acc-module .acc-contact ul {
      padding: 0;
      margin: 0; }
    .acc-module .acc-contact li {
      border-right: none;
      color: #217ee7;
      display: block;
      font-size: 1em;
      line-height: 1.3em;
      padding: 0;
      margin: 0; }
      @media only screen and (min-width: 768px) {
        .acc-module .acc-contact li {
          border-right: 1px solid rgba(51, 51, 51, 0.2);
          display: inline;
          float: left;
          font-size: .9em;
          line-height: 1.2em;
          padding: 0 0.7em; } }
      @media only screen and (min-width: 1170px) {
        .acc-module .acc-contact li {
          display: inline;
          float: left;
          font-size: 1.1em;
          line-height: 1.2em;
          padding: 0 0.7em; } }
      .acc-module .acc-contact li:first-child {
        padding-left: 0; }
      .acc-module .acc-contact li:last-child {
        border-right: 0; }
    .acc-module .acc-contact span {
      color: #333;
      display: block;
      font-size: 0.7em;
      font-weight: normal; }

/* -------------------------------- 

Header

-------------------------------- */
.cd-main-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  background: grey;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .cd-main-header::after {
    clear: both;
    content: "";
    display: table; }
  @media only screen and (min-width: 768px) {
    .cd-main-header {
      position: fixed;
      height: 55px; } }

.cd-logo {
  float: left;
  display: block;
  margin: 11px 0 0 5%; }
  .cd-logo img {
    display: block; }
  @media only screen and (min-width: 768px) {
    .cd-logo {
      margin: 16px 0 0 36px; } }

.cd-nav-trigger {
  /* navigation trigger - visible on mobile devices only */
  float: right;
  position: relative;
  display: block;
  width: 34px;
  height: 44px;
  margin-right: 5%;
  /* hide text */
  overflow: hidden;
  white-space: nowrap;
  color: transparent; }
  .cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after {
    /* hamburger icon in CSS */
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 24px;
    background: white; }
  .cd-nav-trigger span {
    /* line in the center */
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -2px;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s; }
  .cd-nav-trigger span::before, .cd-nav-trigger span::after {
    /* other 2 lines */
    content: '';
    right: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s; }
  .cd-nav-trigger span::before {
    /* menu icon top line */
    top: -6px; }
  .cd-nav-trigger span::after {
    /* menu icon bottom line */
    top: 6px; }
  .cd-nav-trigger.nav-is-visible span {
    /* hide line in the center */
    background: rgba(255, 255, 255, 0); }
  .cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {
    /* keep visible other 2 lines */
    background: white; }
  .cd-nav-trigger.nav-is-visible span::before {
    -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
    transform: translateX(4px) translateY(-3px) rotate(45deg); }
  .cd-nav-trigger.nav-is-visible span::after {
    -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
    transform: translateX(4px) translateY(2px) rotate(-45deg); }
  @media only screen and (min-width: 768px) {
    .cd-nav-trigger {
      display: none; } }

.cd-search {
  position: relative;
  margin: 1.2em 5% 0.6em; }
  .cd-search.is-hidden {
    opacity: 0; }
  .cd-search::before {
    /* lens icon */
    content: '';
    position: absolute;
    left: 8px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    background: url(../img/cd-search.svg) no-repeat 0 0; }
  .cd-search input {
    padding-left: 32px;
    width: 100%;
    height: 36px;
    border: none;
    border-radius: .25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none; }
    .cd-search input:focus {
      outline: none; }
  @media only screen and (min-width: 768px) {
    .cd-search {
      float: left;
      display: inline-block;
      width: 250px;
      height: 100%;
      margin: 0 0 0 2.5em; }
      .cd-search.is-hidden {
        /* reset style */
        opacity: 1; }
      .cd-search::before {
        background-position: 0 -16px;
        left: 1em; }
      .cd-search form, .cd-search input {
        height: 100%;
        width: 100%; }
      .cd-search input {
        border: none;
        padding-left: 2.6em;
        border-radius: 0;
        background-color: grey;
        border-left: 1px solid #8d8d8d;
        color: white; }
        .cd-search input::-webkit-input-placeholder {
          color: #a6a6a6; }
        .cd-search input::-moz-placeholder {
          color: #a6a6a6; }
        .cd-search input:-moz-placeholder {
          color: #a6a6a6; }
        .cd-search input:-ms-input-placeholder {
          color: #a6a6a6; } }

/* -------------------------------- 

Top Navigation

-------------------------------- */
.cd-nav {
  /* top nav - not visible on mobile devices */
  display: none; }
  @media only screen and (min-width: 768px) {
    .cd-nav {
      display: block;
      float: right;
      height: 100%; } }

.cd-top-nav > li > a::before {
  /* reset style */
  display: none; }
.cd-top-nav > li a {
  padding: 1em 5% !important; }
.cd-top-nav img {
  /* avatar image */
  position: absolute;
  left: 1.8em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: none; }
@media only screen and (min-width: 768px) {
  .cd-top-nav {
    height: 100%; }
    .cd-top-nav a {
      display: block;
      font-size: 1.4rem;
      color: white; }
    .cd-top-nav > li {
      display: inline-block;
      margin-right: 1em;
      height: 100%; }
      .cd-top-nav > li:last-of-type {
        margin-right: 0; }
    .cd-top-nav > li a {
      padding: 1em .6em !important; }
    .cd-top-nav img {
      display: block; } }
@media only screen and (min-width: 1170px) {
  .cd-top-nav li:not(.has-children) a:hover {
    color: grey; } }

/* -------------------------------- 

Sidebar

-------------------------------- */
.cd-side-nav {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  padding: 45px 0 0;
  background-color: #6c6c6c;
  visibility: hidden;
  opacity: 0;
  max-height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s; }
  .cd-side-nav.nav-is-visible {
    opacity: 1;
    visibility: visible;
    overflow: visible;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
    max-height: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }
  .cd-side-nav > ul {
    padding: 0.6em 0; }
    .cd-side-nav > ul:last-of-type {
      padding-bottom: 0; }
  .cd-side-nav .cd-label, .cd-side-nav a {
    display: block;
    padding: 1em 5%; }
  .cd-side-nav .cd-label {
    text-transform: uppercase;
    font-weight: bold;
    color: #999999;
    font-size: 1rem;
    letter-spacing: .1em; }
  .cd-side-nav a {
    position: relative;
    color: white;
    font-size: 1.4rem; }
  .cd-side-nav ul.cd-top-nav > li:last-of-type > a {
    border-bottom: none; }
  .cd-side-nav > ul > li > a {
    padding-left: calc(5% + 24px);
    border-bottom: 1px solid #787878; }
    .cd-side-nav > ul > li > a::before {
      /* icon before item name */
      position: absolute;
      content: '';
      left: 5%;
      top: 50%;
      bottom: auto;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      height: 16px;
      width: 16px;
      background: url(../img/cd-nav-icons.svg) no-repeat 0 0; }
  .cd-side-nav > ul > li.overview > a::before {
    background-position: -64px 0; }
  .cd-side-nav > ul > li.notifications > a::before {
    background-position: -80px 0; }
  .cd-side-nav > ul > li.comments > a::before {
    background-position: -48px 0; }
  .cd-side-nav > ul > li.bookmarks > a::before {
    background-position: -32px 0; }
  .cd-side-nav > ul > li.images > a::before {
    background-position: 0 0; }
  .cd-side-nav > ul > li.users > a::before {
    background-position: -16px 0; }
  .cd-side-nav .count {
    /* notification badge */
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: calc(5% + 16px + 0.4em);
    padding: 0.2em 0.4em;
    background-color: grey;
    border-radius: .25em;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center; }
  .cd-side-nav .action-btn a {
    display: block;
    margin: 0 5%;
    padding: 1em 0;
    background-color: grey;
    border-radius: .25em;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    text-align: center;
    color: white;
    font-weight: bold; }
    .cd-side-nav .action-btn a::before {
      display: none; }
  @media only screen and (min-width: 768px) {
    .cd-side-nav {
      position: relative;
      float: left;
      top: auto;
      width: 110px;
      min-height: 100vh;
      padding-top: 55px;
      /* reset style */
      visibility: visible;
      opacity: 1;
      overflow: visible;
      max-height: none; }
      .cd-side-nav.nav-is-visible {
        box-shadow: none; }
      .cd-side-nav.is-fixed {
        position: fixed; }
      .cd-side-nav > ul {
        /* reset style */
        padding: 0; }
      .cd-side-nav .cd-label {
        /* remove labels on minified version of the sidebar */
        display: none; }
      .cd-side-nav a {
        font-size: 1.2rem;
        text-align: center; }
      .cd-side-nav > ul > li > a {
        padding: calc(2.2em + 24px) 0 2.4em; }
        .cd-side-nav > ul > li > a::before {
          left: 50%;
          right: auto;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          top: 2.4em; }
      .cd-side-nav .active > a {
        /* current page */
        box-shadow: inset 3px 0 0 grey;
        background-color: #737373; }
      .cd-side-nav .action-btn a {
        margin: 1em 10% 0; }
      .cd-side-nav .count {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        padding: 0;
        top: 2em;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        left: calc(50% + 5px);
        right: auto;
        color: transparent; } }
  @media only screen and (min-width: 1170px) {
    .cd-side-nav {
      width: 200px; }
      .cd-side-nav > ul {
        padding: 0.6em 0; }
      .cd-side-nav > ul > li:not(.action-btn):hover > a {
        background-color: #737373; }
      .cd-side-nav > ul > li > a {
        padding: 1em 1em 1em 42px;
        text-align: left;
        border-bottom: none; }
        .cd-side-nav > ul > li > a::before {
          top: 50%;
          bottom: auto;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          left: 18px; }
      .cd-side-nav .cd-label {
        display: block;
        padding: 1em 18px; }
      .cd-side-nav .action-btn {
        text-align: left; }
        .cd-side-nav .action-btn a {
          margin: 0 18px; }
          .no-touch .cd-side-nav .action-btn a:hover {
            background-color: #8d8d8d; }
      .cd-side-nav .count {
        /* reset style */
        color: white;
        height: auto;
        width: auto;
        border-radius: .25em;
        padding: .2em .4em;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 18px;
        left: auto;
        box-shadow: none; } }

.has-children ul {
  position: relative;
  width: 100%;
  display: none;
  background-color: #5a5a5a; }
.has-children > a::after {
  /* arrow icon */
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  right: 5%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/cd-arrow.svg); }
.has-children.selected > ul {
  display: block; }
.has-children.selected > a::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg); }
@media only screen and (min-width: 768px) {
  .has-children {
    position: relative; }
    .has-children ul {
      position: absolute;
      top: 0;
      left: 100%;
      width: 160px;
      padding: 0;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); }
    .has-children ul a {
      text-align: left;
      border: none;
      padding: 1em; }
      .no-touch .has-children ul a:hover {
        color: grey; }
    .has-children > a::after {
      display: none; }
    .cd-side-nav .has-children.selected > a {
      /* focus state -> show sub pages */
      background-color: #737373; }
    .cd-top-nav .has-children {
      position: relative;
      background-color: #6c6c6c; }
      .cd-top-nav .has-children > a {
        height: 100%;
        padding: 0 calc(1.8em + 22px) 0 calc(1.8em + 26px) !important;
        line-height: 55px; }
        .cd-top-nav .has-children > a::after {
          display: block;
          right: 1.8em; }
      .cd-top-nav .has-children ul {
        background-color: #5a5a5a;
        width: 200px;
        top: 100%;
        right: 0;
        left: auto;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); }
      .cd-top-nav .has-children ul a {
        padding-left: 18px !important; } }
@media only screen and (min-width: 1170px) {
  .has-children > ul {
    width: 100%;
    z-index: 1; }
  .has-children ul a {
    padding-left: 18px; }
  .has-children.active > ul {
    /* if the item is active, make the subnavigation visible */
    position: relative;
    display: block;
    /* reset style */
    left: 0;
    box-shadow: none; }
  .no-touch .cd-side-nav .has-children:hover > ul, .cd-side-nav .has-children.hover > ul {
    /* show subnavigation on hover */
    display: block;
    opacity: 1;
    visibility: visible; } }

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: grey;
  background-color: white;
  margin: 0;
  padding: 0; }
  body::after {
    clear: both;
    content: "";
    display: table; }

a {
  color: grey;
  text-decoration: none; }

input {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }
