// colors

$color-1: grey; // Mako
$color-2: grey; // Denim
$color-3: white; // White
$color-4: grey; // Salmon
$color-module: rgba(#000, .1);


// fonts 

$primary-font: 'Open Sans', sans-serif;

// header size

$header-height-S: 45px;
$header-height-M: 55px;

//sidebar size

$sidebar-width-M: 110px;
$sidebar-width-L: 200px;