
/* -------------------------------- 

Main Page Content

-------------------------------- */


.cd-main-content {

	.content-wrapper {
		@include outer-container;
		max-width: 100%;
		padding: $header-height-S 5% 3em;
	}

	&::before {
		/* never visible - used to check MQ in jQuery */
		display: none;
		content: 'mobile';
	}

	@include MQ(M) {

		.content-wrapper {
			margin-left: $sidebar-width-M;
			padding-top: $header-height-M;
		}

		&::before {
			content: 'tablet';
		}
	}

	@include MQ(L) {

		.content-wrapper {
			margin-left: $sidebar-width-L;
		}

		&::before {
			content: 'desktop';
		}
	}
}


.half-module {
	background: $color-module;
	@include span-columns(12);
	@include margin(3rem null null);
	
	@include MQ(M) {
		@include span-columns(6);
	}

	@include MQ(L) {
		@include span-columns(6);
	}
}

.full-module {
	background: $color-module;
	@include span-columns(12);
	@include margin(3rem null null);
	
	@include MQ(M) {
		@include span-columns(12);
	}

	@include MQ(L) {
		@include span-columns(12);
	}
}
