@import "badge";
.acc-module {
	@include span-columns(12);
	padding: 1rem;

	.acc-profile-header {
		@include fill-parent();
		overflow: auto;
		border-bottom: 1px solid transparentize($action-color, 0.8);
		margin-bottom: 2rem;
		
		.acc-image {
			@include span-columns(12 of 12);
			
			img {
				width: 160px;
				display: block;
				margin-left: 0;
				margin-right: auto;
				margin-bottom: 1rem;
			}
			
			@include MQ(M) {
				@include span-columns(3 of 12);

				img {
					width: 100%;
					display: block;
					margin-left: 0;
					margin-right: auto;
				}
			}
		}
		.acc-info {
			@include span-columns(12 of 12);
			@include MQ(M) {
				@include span-columns(9 of 12);
			}
			@include MQ(L) {
				@include span-columns(9 of 12);
			}


			.acc-bio {
				@include fill-parent();
				p {
					max-width: 80rem;
				}
			}
			.acc-contact {
				@include fill-parent();

			}
			.acc-badges {
				@include fill-parent(); 
				max-width: 80rem;
			}

		}
	}
	.acc-wiki {
		display: inline-block;
		overflow: auto;
		aside {
			@include span-columns(12 of 12);

			@include MQ(M) {
				@include span-columns(3 of 12);

			}
		}
		article {
			@include span-columns(12 of 12);

			@include MQ(M) {
				@include span-columns(9 of 12);
			}

			h4 {
				margin: 0 0 0.5em 0;
			}

			p {
				color: $base-font-color;
				line-height: $base-line-height;
			}

			section p:last-of-type {
				margin-bottom: 2em; 
			}
		}

		a {
			color: $action-color;
			text-decoration: none;
		}

		

		.scroll-on-page-link {
			border-bottom: 1px solid transparentize($action-color, 0.8);
			display: block;
			margin-right: $base-spacing;
			outline: none;
			padding: ($base-spacing / 2) 0;

			&:last-child {
				margin-bottom: $base-spacing;
			}
		}
	}
	.acc-resource {
		@include fill-parent();
		overflow: auto;

	}
}